
<h1>Help</h1>
<p>
  <a href="signin">Log in</a> to add more locations to the database or <a href="signup">Sign Up Here</a>.
 Click
  <a href= "random" >Randomize!</a> to randomly select a place to eat.
</p>