<div class="center hero-unit">
  <h1>Anaheim Lunch Selector</h1>

  <h2>
    Sign up to add locations to the database.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center">
	<%= link_to "Randomize!", random_path, class: "btn btn-large btn-primary" %>